name: Deploy Scheduler

on:
  push:
    branches:
      - develop
    
    paths:
      - 'scheduler/**'

  workflow_dispatch:

env:
  BRANCH-NAME: ${GITHUB_REF##*/}
  CF_NAME: crontab
  CF_PROGRAM: programStatusUpdatePy


jobs:
  build-scheduler:
    permissions:
      contents: 'read'
      id-token: 'write'
      
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Get changed files
        uses: jitterbit/get-changed-files@v1
        id: files-changed
        with: 
          format: space-delimited

      - name: Print changed files
        run: | 
          echo "Print the files that have been modified"
          echo "${{steps.files-changed.outputs.modified}}"

      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v0'
        with:
          workload_identity_provider: "projects/629109295493/locations/global/workloadIdentityPools/github-actions-identity-pool/providers/github"
          service_account: github-service-account@prism-dev-030122.iam.gserviceaccount.com

      - name: Set the environment variables
        if: 
        run: |
          sed "" scheduler/start_program.env >> $GITHUB_ENV

      
      - name: Deploy the Scheduler - Start Program
        if: ${{ env.schedule != 'Scheduler/program_activation/*' }}
        run: |
            
            JOBS=`gcloud scheduler jobs list | grep notify-start-program | wc -l`
            if [ $JOBS -eq 0 ]; 
            then 
              echo "I am now creating a new 'notify-start-program'"
            fi
