name: Deploy Scheduler

on:
  push:
    branches:
      - main
    
    paths:
      - 'scheduler/**'

  workflow_dispatch:

env:
  BRANCH-NAME: ${GITHUB_REF##*/}
  CF_NAME: crontab
  CF_PROGRAM: programStatusUpdatePy


jobs:
  build-configuration:
    permissions:
      contents: 'read'
      id-token: 'write'
      
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
                     
      - name: Set Environment values
        uses: ./.github/scheduler
        with:
          schedulerfilepath: ./.github/scheduler/${{env.PROGRAM-TYPE}}.env

      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v0'
        with:
          workload_identity_provider: "projects/${{ env.PROJECT_CODE }}/locations/global/workloadIdentityPools/github-actions-identity-pool/providers/github"
          service_account: ${{ env.GITHUB_SERVICE_ACCOUNT }}

    start program:
             
      - name: Deploy the Scheduler - Start Program
        needs: [build-configuration]
        if: ${{env.schedule !== schedule/start_program/schedule}}
        run: |
           sed "" scheduler/start_program.env >> $GITHUB_ENV
           JOBS=`gcloud scheduler jobs list | grep notify-start-program | wc -l`
           if [ $JOBS -eq 0 ]; 
           then 
           gcloud scheduler jobs create http notify-start-program \
           --description="Scheduler to trigger start of a program" \
           --schedule=${{env.schedule}} \
           --time-zone=${{env.time-zone}} \
           --uri="https://${{env.REGION}}-${{env.PROJECT_ID}}.cloudfunctions.net/${{env.CF_NAME}}" \
           --location=${{env.REGION}} \
           --http-method=POST \
           --message-body='{"action":"start"}'
          fi