name: Deploy Scheduler

on:
  push:

  workflow_dispatch:

env:
  BRANCH-NAME: ${GITHUB_REF##*/}

jobs:
  release-notes-builder:
    permissions:
      contents: 'read'
      id-token: 'write'
      
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install relevant packages
        run: | 
            npm install -g firebase-tools
            npm install -g generate-changelog

      - name: Generate the changlog
        run: | 
          generate-changelog 

      - name: Display the changelog
        run: | 
          echo CHANGELOG.md
